.page[b-flfmdw9yl9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-flfmdw9yl9] {
    flex: 1;
}

.sidebar[b-flfmdw9yl9] {
    background-image: linear-gradient(180deg, #002454 65%, #FAC01A 95%);
}

.top-row[b-flfmdw9yl9] {
    /* Dark Grey */
    background-color: #aaaaaa;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-flfmdw9yl9]  a, .top-row .btn-link[b-flfmdw9yl9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-flfmdw9yl9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-flfmdw9yl9] {
        display: none;
    }

    .top-row.auth[b-flfmdw9yl9] {
        justify-content: space-between;
    }

    .top-row a[b-flfmdw9yl9], .top-row .btn-link[b-flfmdw9yl9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-flfmdw9yl9] {
        flex-direction: row;
    }

    .sidebar[b-flfmdw9yl9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-flfmdw9yl9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-flfmdw9yl9], article[b-flfmdw9yl9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
       
    }

    /* Link (Tab) Color */
    a[b-flfmdw9yl9] {
        color: white;
        font-weight: bold;
    }

    /* On Hover Color: NAU True Blue */
    a:hover[b-flfmdw9yl9] {
      
        color: rgb(0, 51, 102);
        
      
    }

}



.UserText[b-flfmdw9yl9] {
    padding-top: 2vh;
}



