@page "/assignment"



@using RTXWebsite1.Models;

@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;

@using RTXWebsite1.IDbContext
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data


@using System.IO




<h1 div class="title-head"> Assignment </h1>
<br />

 



        
        <InputFile OnChange="@submitAssignment" />



  



@code{


    RTXWebsite1.Models.Assignment assignment = new RTXWebsite1.Models.Assignment();



    List<PlayerInformation>? player;



    string sqlString = "";




    private async Task submitAssignment( InputFileChangeEventArgs e )
    {


        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();
        //do something with bytes

        
        sqlString = "UPDATE `RTX`.`Assignment` SET `Assignment_Upload` = @TheBytes WHERE (`Assignment_PlayerID` = @ThisPlayer)";
        player = await _data.LoadData<PlayerInformation, dynamic>(sqlString, new {TheBytes = bytes, ThisPlayer = Cookie.PlayerID }, _config.GetConnectionString("RTX"));
        


        NavManager.NavigateTo($"/assignmentsubmitted/{assignment.submissionString}");

    }




}