@page "/Classhome"


@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess _data
@inject IConfiguration _config
@inject RTXWebsite1.Data.Cookies Cookie;

@inject NavigationManager NavManager

<h1 div class="title-head">Classes</h1>
<hr />

@if( Cookie.CurrentClass == 0 )
{
    // Navigate back to class selection
} else
{
    // Display Class
}

@code {

}





