@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;
@inject NavigationManager NavManager;

<PageTitle>RTXWebsite1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if(Cookie.CookieAuth != "")
        {
            <a href="/"> Home</a>
            <a href="classes"> Classes</a>
            <a href="account"> Account</a>
            <a href="viewdiscussions"> Discussions</a>
            <a href="marketplace"> Market</a>
            <a href="logout" @onclick="(() => Logout())"> Logout</a>
        }
        else
        {
            <a href="login"> Login</a>     
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 

@* 
<div class = "my_footer">
    
            <footer>© 2022 Gaming Ed. All rights reserved.</footer>
    
</div>
*@

@code{
    public async Task Logout()
    {
        Cookie.CookieAuth = "";
        NavManager.NavigateTo("/");
    }
}



