@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;

<PageTitle>RTXWebsite1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if(Cookie.CookieAuth != "")
        {
        <div class="top-row px-4">
            <a href="home"> Home</a>
            <a href="account"> Account</a>
            <a href="viewdiscussions"> Discussions</a>
            <a href="market"> Market</a>
            
        </div>
        }
        else
        {
        <div class="top-row px-4">
            <a href="login"> Login</a>

        </div>            
        }


        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 
