@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;
@inject NavigationManager NavManager;

<PageTitle>RTXWebsite1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        @if(Cookie.UserID != 0)
        {
<<<<<<< HEAD
            <a href="/">Home</a>
            <a href="/classes">Classes</a>
            <a href="/account">Account</a>
            <a href="logout" @onclick="(() => Logout())">Logout</a>
            
=======
            <div class="top-row px-4">
                <a href="/"> Home</a>
                <a href="/classes"> Classes</a>
                <a href="/account"> Account</a>
                <a href="/viewdiscussions"> Discussions</a>
                <a href="/marketplace"> Market</a>
                <a href="/quizzes"> Quizzes</a>
                <a href="logout" @onclick="(() => Logout())"> Logout</a>
            </div>
>>>>>>> 9af116b268e2c68398a323f78328d17cfb82e09b
        }
        else
        {
            <a href="/">Login</a>     
        }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 

@code{
    public async Task Logout()
    {
        NavManager.NavigateTo("/logout");
    }
}



