@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;
@inject NavigationManager NavManager;

<PageTitle>RTXWebsite1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if(Cookie.CookieAuth != "")
        {
            <div class="top-row px-4">
                <a href="/"> Home</a>
                <a href="classes"> Classes</a>
                <a href="account"> Account</a>
                <a href="viewdiscussions"> Discussions</a>
                <a href="marketplace"> Market</a>
                <a href="logout" @onclick="(() => Logout())"> Logout</a>
            </div>
        }
        else
        {
            <a href="login" div class="top-row px-4"> Login</a>     
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 

@code{
    public async Task Logout()
    {
        Cookie.CookieAuth = "";
        NavManager.NavigateTo("/");
    }
}



