@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;

<PageTitle>RTXWebsite1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if(Cookie.CookieAuth != "")
        {
        <div class="top-row px-4">

            <div class="button1">
                <a href="/"> Home</a>
            </div>
            
            <a href="classes"> Classes</a>

            <div class="button2">
                <a href="account"> Account</a>
            </div>

            
            <div class="button3">
                <a href="viewdiscussions"> Discussions</a>
            </div>
            

            
            <div class="button4">
                <a href="marketplace"> Market</a>
            </div>
            
          
            
                <a href="logout"> Logout</a>
            
         
        </div>
        }
        else
        {
        <div class="top-row px-4">
            <div class="button0"> <!--Example of how to style each button individually-->

                <a href="login"> Login</a>

            </div>
            

        </div>            
        }


        <article class="content px-4">
            @Body
        </article>

        


    </main>
    

</div> 

<div class = "my_footer">
    
            <footer>© 2022 Gaming Ed. All rights reserved.</footer>
    
</div>




