@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;
@inject NavigationManager NavManager;

<PageTitle>RTXWebsite1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        @if(Cookie.UserID != 0)
        {
            <a href="/">Home</a>
            <a href="/classes">Classes</a>
            <a href="/account">Account</a>
            <a href="logout" @onclick="(() => Logout())">Logout</a>
        }
        else
        {
            <a href="/">Login</a>     
        }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 

@code{
    public async Task Logout()
    {
        NavManager.NavigateTo("/logout");
    }
}



