@page "/marketplace"

@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration


@inject IConfiguration _config

@inject IDiscussionBoardAccess _temp

<div class="my_headers">
    <h1>Market</h1>
    <h4>Chayson's' Note: Market page should be inside a class</h4>
</div>
<hr />

<h3>Purchasable Items</h3>

@if (transactions == null)
{
    <p>Empty. Please check back later.</p>
}
else
{
    @foreach (var p in transactions)
    {
        <p>
            @p.Name | @p.Description @p.Cost <button type="button">+</button>
        </p>
    }
}

@code{
    List<Marketplace>? transactions;

    private async Task GetData()
    {
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from transaction";

        transactions = await _temp.LoadData<Marketplace, dynamic>(sql, new { }, _config.GetConnectionString("Marketplace"));
    }
}

