@page "/marketplace"

@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration

@inject IConfiguration _config
@inject IDatabaseAccess _data
@inject IMarketplaceAccess _market

<h1 div class="title-head">Market</h1>
<hr />

<h3>Purchasable Items</h3>

@if (transactions == null)
{
    <p>Empty. Please check back later.</p>
}
else
{
    <ul>
    @foreach (var p in transactions)
        {
            <li> 
                <em>@p.Transaction_Name</em>
                <p>@p.Transaction_Description</p>
                <p>@p.Transaction_Cost <button type="button">+</button></p>
            </li>
        }
    </ul>
}

@code{
    List<Marketplace>? transactions;

    private async Task GetData()
    {
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from Transaction";

        transactions = await _data.LoadData<Marketplace, dynamic>(sql, new { }, _config.GetConnectionString("RTX"));
    }
}

