@page "/lives"

@using RTXWebsite1.IDbContext
@using RTXWebsite1.Models
@using Microsoft.Extensions.Configuration
@inject RTXWebsite1.Data.Cookies Cookie;

@inject IConfiguration _config
@inject IDatabaseAccess _data

@inject NavigationManager NavManager

@if( Cookie.PlayerID == 0 )
{
    NavManager.NavigateTo("/");
}

<p>Welcome to the purchase lives page.</p>


@code {

    @*
    // Currently sees all assignments and assessments regardless of completion
    List<PlayerFullProgress>? options;

    private async Task GetData()
    {
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "WHERE Progress_PlayerID = @thisPlayer";

        options = await _data.LoadData<PlayerFullProgress, dynamic>(PlayerFullProgress.GetSQL() + sql + PlayerFullProgress.SortSQL(), new { thisPlayer = Cookie.PlayerID }, _config.GetConnectionString("RTX"));
    }
    *@
}