################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/a9c7b354-8399-45ab-9cf6-f687151c8e6c.vsidx
/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/a0902b79-bdcd-4c70-9d0f-719bd232857c.vsidx
/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/9b85585a-27de-41e1-bbcc-4c63aff27241.vsidx
/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/060e71fc-ffbf-4831-b60c-e0d5fd88c1eb.vsidx
