################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/a9c7b354-8399-45ab-9cf6-f687151c8e6c.vsidx
/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/a0902b79-bdcd-4c70-9d0f-719bd232857c.vsidx
/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/9b85585a-27de-41e1-bbcc-4c63aff27241.vsidx
/RTXWebsite1/.vs/RTXWebsite1/FileContentIndex/060e71fc-ffbf-4831-b60c-e0d5fd88c1eb.vsidx
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/vulkan-1.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/vk_swiftshader.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/vcruntime140.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/v8_context_snapshot.bin
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/ucrtbase.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/snapshot_blob.bin
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/resources.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/msvcp140_codecvt_ids.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/msvcp140_atomic_wait.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/msvcp140_2.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/msvcp140_1.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/msvcp140.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/zh-TW.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/zh-CN.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/vi.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ur.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/uk.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/tr.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/th.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/te.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ta.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/sw.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/sv.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/sr.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/sl.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/sk.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ru.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ro.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/pt-PT.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/pt-BR.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/pl.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/nl.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/nb.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ms.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/mr.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ml.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/lv.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/lt.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ko.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/kn.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ja.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/it.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/id.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/hu.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/hr.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/hi.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/he.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/gu.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/fr.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/fil.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/fi.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/fa.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/et.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/es.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/es-419.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/en-US.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/en-GB.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/el.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/de.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/da.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/cs.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ca.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/bn.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/bg.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/ar.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/am.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/locales/af.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/libGLESv2.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/libEGL.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/libcef.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/IronPdf.Native.Chrome.deployment.json
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/IronInterop.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/IronCefSubprocess.exe
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/icudtl.dat
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/dxva2.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/d3dcompiler_47.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/concrt140.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/chrome_elf.dll
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/chrome_200_percent.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x86/native/chrome_100_percent.pak
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x64/native/locales
/RTXWebsite1/bin/Debug/net6.0/runtimes/win-x64/native
