/* _content/RTXWebsite1/Shared/MainLayout.razor.rz.scp.css */
.page[b-flfmdw9yl9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-flfmdw9yl9] {
    flex: 1;
}

.sidebar[b-flfmdw9yl9] {
    background-image: linear-gradient(180deg, #002454 65%, #FAC01A 95%);
}

.top-row[b-flfmdw9yl9] {
    /* Dark Grey */
    background-color: #aaaaaa;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-flfmdw9yl9]  a, .top-row .btn-link[b-flfmdw9yl9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-flfmdw9yl9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-flfmdw9yl9] {
        display: none;
    }

    .top-row.auth[b-flfmdw9yl9] {
        justify-content: space-between;
    }

    .top-row a[b-flfmdw9yl9], .top-row .btn-link[b-flfmdw9yl9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-flfmdw9yl9] {
        flex-direction: row;
    }

    .sidebar[b-flfmdw9yl9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-flfmdw9yl9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-flfmdw9yl9], article[b-flfmdw9yl9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
       
    }

    /* Link (Tab) Color */
    a[b-flfmdw9yl9] {
        color: white;
        font-weight: bold;
    }

    /* On Hover Color */
    a:hover[b-flfmdw9yl9] {
        color: deepskyblue;
    }

}



/* _content/RTXWebsite1/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fn9io6309k] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fn9io6309k] {
    
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fn9io6309k] {
    font-size: 1.1rem;
}

.oi[b-fn9io6309k] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fn9io6309k] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fn9io6309k] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fn9io6309k] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fn9io6309k]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fn9io6309k]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fn9io6309k]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fn9io6309k] {
        display: none;
    }

    .collapse[b-fn9io6309k] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
