@page "/cs100"


<!-- Header -->
<div class="my_headers">
    <h1>Computer Science 100: Introduction to Programming</h1>
</div>

<hr />



<p>Your course is currently empty, check back soon!</p>

@code {

}
