@page "/login"

@using RTXWebsite1.Models;
@using RTXWebsite1.Data;
@inject RTXWebsite1.IDbContext.IAccountAccess _account;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject IJSRuntime JsRuntime;
@inject IConfiguration _config;
@inject NavigationManager NavManager;
@inject RTXWebsite1.Data.Cookies Cookie;


<h1 div class="title-head"> Login </h1>
<hr />

<h5> Please login to your account </h5>
<br />


<EditForm Model=@account OnValidSubmit="ValidateAccount">
  <DataAnnotationsValidator/>
  <div class="form-group">
    <label for="Username">Username:</label>
    <InputText @bind-Value=account.Account_Username class="form-control" id="Username" />
  </div>
  <ValidationMessage For="@(() => account.Account_Username)"/>
  <div class="form-group">
    <label for="Password">Password:</label>
    <InputText @bind-Value=account.Account_Password class="form-control" id="Password" />
  </div>
  <ValidationMessage For="@(() => account.Account_Password)"/>
  <button type="submit" class="btn btn-primary"> Login</button>
</EditForm>



@code {
    Account account = new Account();
    //public string myCookieValue { get; set; } = "";

    async Task ValidateAccount()
    {
        int result = await _account.ValidateAccount(account, _config);

        if(result != 0)
        {
            await localStorage.SetItemAsync("username", account.Account_Username);
            await JsRuntime.InvokeAsync<object>("WriteCookie.WriteCookie", "cookieName", account.Account_Username, DateTime.Now.AddMinutes(1000));
            Cookie.UserID = result;
            //myCookieValue = await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "cookieName");
            NavManager.NavigateTo("/");
        }
    }
    //protected async Task ReadCookies()
    //{

    //    myCookieValue= await JsRuntime.InvokeAsync<string>("ReadCookie.ReadCookie", "cookieName");

    //}
}
