@page "/logout"


@inherits LayoutComponentBase
@inject RTXWebsite1.Data.Cookies Cookie;
@inject NavigationManager NavManager;



<h1 div class = "title-head"> Logout </h1>
<br />


<h5 div class = "header-head"> Are you sure you want to logout? </h5>


        
 <button class="btn btn-primary" @onclick= "(() => LogoutMethod())"> Yes </button>


 <button class="btn btn-primary" @onclick= "(() => GoToHome())"> No </button>
   

@code {

    // Method name must be different from class name
    public void LogoutMethod()
    {
        Cookie.UserID = 0;
        Cookie.CurrentClass = 0;
        NavManager.NavigateTo("/");
    }

    public void GoToHome()
    {
        NavManager.NavigateTo("/");
    }

}
